<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/login-ing" method="post">
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
        <div>
            <label>Email address</label>
            <input type="text"  name="name">
        </div>
        <div >
            <label>Major</label>
            <input type="password" name="major">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>